<table>
  <%= render partial: 'books/list', locals: { users: @users } %>
</table>
<h2>New book</h2>
  <%= render partial: 'books/form', locals: { book: @book } %>
<h2>Books</h2>

<% @books.each do |book| %>
<div>
  <%= link_to user_path(@user.id) do %>
    <%= image_tag book.get_image %>
  <% end %>
  <%= link_to book_path(@user) do %>
    <p>Title：<%= book.title %></p>
  <% end %>
    <p>Opinion：<%= book.body %></p>
  </div>
  <% if @book == current_user %>
    <%= link_to "Edit", edit_book_path(@book.id) %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
<% end %>