<table>
  <%= render partial: 'books/list', locals: { users: @users } %>
</table>
　<% if @user == current_user %>
    <p><%= link_to "Edit", edit_user_path(@user) %></p>
  <% end %>
<h2>New book</h2>
<%= form_with model: @book, url: book_path do |form| %>
  <h4>Title</h4>
  <%= form.text_field :title %>
  <h4>Opinion</h4>
  <%= form.text_area :body %>
    <%= form.submit "Create Book", name:"book" %>
<% end %>
<h2>Books</h2>

<% @books.each do |book| %>
<div>
  <%= link_to user_path(@user.id) do %>
    <%= image_tag book.get_image %>
  <% end %>
  <%= link_to book_path(@user) do %>
    <p>Title：<%= book.title %></p>
  <% end %>
    <p>Opinion：<%= book.body %></p>
  </div>
  <% if @book == current_user %>
    <%= link_to "Edit", edit_book_path(@book.id) %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
<% end %>